.body-wrapper {
    height: 100vh;
}

.app-top-navbar {
    z-index: 30;
    position: fixed;
    inset: 0 0 auto 0;
    background-color: hsl(0, 0%, 7%,50%);
    backdrop-filter: 
        blur(0.5rem)
        grayscale(10%)
        hue-rotate(150deg)
        sepia(10%)
        drop-shadow(2px 2px 20px rgba(0, 0, 0, 1));

}

.app-side-navbar {
    z-index: 20;
    position: fixed;
    inset: -3.5rem auto -3.5rem 0;
    padding: 7rem 0 7rem 0;
    
    background-color: hsl(0, 0%, 7%,80%);
    backdrop-filter: 
        blur(0.5rem)
        grayscale(10%)
        hue-rotate(150deg)
        sepia(10%)
        drop-shadow(2px 2px 20px rgba(0, 0, 0, 1));
}
.sidebar-backdrop {
    z-index: 10;
    position: fixed;
    inset: 0;
}

.app-main {
    z-index: 10;
    padding-top: 3.5rem;
    min-height: calc(100vh - 3.5rem);
}

.app-footer {}
