@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* 
        #dark
        primary red 700
        secondary Emerald 950
        accent Emerald 700
        text Teal 50
        background Teal 1000
    */

    #light {
        color-scheme: light;
        --text: 187deg 60% 6%;
        --background: 180deg 60% 98%;
        --primary: 0deg 74% 58%;
        --secondary: 166deg 91% 91%;
        --accent: 161deg 93% 70%;
    }
    #dark {
        color-scheme: dark;
        --text: 187deg 59% 94%;
        --background: 180deg 60% 2%;
        --primary: 0deg 74% 42%;
        --secondary: 166deg 91% 9%;
        --accent: 161deg 94% 30%;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer components {
    /* scrollbar-width auto */
    .scrollbar-thin {
        --sb-thumb-color: var(--primary);
        --sb-track-color: var(--background);
        --sb-width-type: thin;
    }
    .scrollbar-color {
        scrollbar-color: hsl(var(--sb-thumb-color)) hsl(var(--sb-track-color));
    }
    @supports (scrollbar-width: auto) {
        .scrollbar-thin {
            
            scrollbar-width: var(--sb-width-type);
        }
    }
}